apiVersion: apps/v1
kind: Deployment
metadata:
  name: podinfo
spec:
  template:
    spec:
      containers:
      - name: podinfod
        # load environment variables from ConfigMap
        envFrom:
        - configMapRef:
            name: podinfo-config