apiVersion: apps/v1
kind: Deployment
metadata:
  name: slides
spec:
  template:
    spec:
      containers:
        - name: server
          env:
            - name: ENV
              value: "production"

