apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: podinfo-prod

resources:
  - ../../base

patches:
  - path: patch-deployment.yaml
  - path: patch-service.yaml

patchesJson6902:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: podinfo
    path: remove-sidecar.json
