apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: podinfo-prod

resources:
- ../../base
- namespace.yaml

images:
- name: ghcr.io/stefanprodan/podinfo
  newTag: 6.9.3

patches:
- target:
    kind: Service
    name: podinfo
  patch: |
    # change the service type to LoadBalancer
    - op: replace
      path: /spec/type
      value: LoadBalancer
    # verify that we are patching the correct port
    - op: test
      path: /spec/ports/0/name
      value: http
    # change the port number
    - op: replace
      path: /spec/ports/0/port
      value: 12000
- target:
    kind: Ingress
    name: podinfo
  patch: |
    - op: add
      path: /spec/rules/0/host
      # <sub-domain>.<cluster-name>.dski23a.timebertt.dev
      value: &host podinfo.student-sepf.dski23a.timebertt.dev
    - op: add
      path: /spec/tls/0/hosts
      value:
      - *host